.doctor-schedule-container {
    
    //border-bottom: 1px solid #eee;
    //padding-bottom: 10px;
    //margin-bottom: 10px;
    .all-schedule {
        padding: 15px 0;
        select {
            background: transparent;
            border: none;
            color: #337ab7;
            border-bottom: 1px solid #999;
            border-radius: 0;
            font-weight: bold;
            padding: 3px;
        }
    }

    .all-slected-time {
        
        .text-calendar{
            margin: 10px 0;
            span {
                padding: 0 10px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                margin: 0 0 5px 0;
            }
        }

        .time-content {
            .schedule-content {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                button {
                    padding: 5px 10px;
                    border: none;
                    outline: none;
                    background-color: #fff8ae;
                    min-width: 25%;
                    height: 35px;
                    font-weight: 600;
                    &:hover {
                        background-color: #45c3d2;
                        color: white;
                    }
                }

            }
            .book-free {
                padding-top: 5px;
                font-size: 15px;
                font-weight: 500;
                font-style: italic;

                .far {
                    margin: 0 3px;
                }
            }

            .no-schedule {
                font-style: italic;
                font-weight: 500;
            }
        }
    }
}