.booking-modal-container {
    .booking-modal-content {
        //height: 500px;
        display: flex;
        flex-direction: column;

        .booking-modal-header {
            //height: 30px;
            //border: 1px solid red;
            padding: 10px;
            border-bottom: 1px solid #ddd;
            .left {
                font-size: 15px;
                font-weight: 600;
            }
            .right {
                float: right;
                cursor: pointer;
            }
        }

        .booking-modal-body {
            height: 100%;
            padding: 15px;
        }

        .booking-modal-footer {
            //height: 30px;
            border-top: 1px solid #ddd;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            gap: 5px;

            button {
                outline: none;
                border: none;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
    
}