
.specialty-container {
    margin: 5px 150px; 
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #eee;
    .specialty-image {
        height: 100px;
        width: 200px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;
        cursor: pointer;
    }
}